



.sticky-box{
    height: 60vh;
    width:100%;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color:  rgb(207, 195, 195);
}



.header {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(100, 90, 73);
    position:sticky;
    top: 0rem;
    
}

.title-box {
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    
   
    position:sticky;
    bottom:  0rem;
    
    right:4%;
}

.main-title{
    color:white;
    font-family: 'Julius Sans One', sans-serif;
    font-stretch: narrower;
    font-size:10vh
}

.logo{
    width: auto;
    height: 30vh;
    position: relative;
    left: 3vw;
    border-radius: 10%;  
    
}